# West Nile Virus Prediction

kaggle link: https://www.kaggle.com/c/predict-west-nile-virus

In [2]:
import pandas as pd
import numpy as np

In [40]:
X_train_df = pd.read_csv('../input/train.csv')

X_test_df = pd.read_csv('../input/test.csv')
sample = pd.read_csv('../input/sampleSubmission.csv')
weather = pd.read_csv('../input/weather.csv')

In [42]:
X_train_df.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

all information that is contained in adress variables is also containder in latitude and longitiude (mosq have no conception of address) => drop all things relating to address.

In [43]:
weather.head(1)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2

CodeSum gives a significant weather types, ex  HAZE, SMOKE, etc. if Nan, then moderate

M = Missing Data, or data that are not normally reported for the station.

Weather contains a lot of information. I think that decision trees won't work well by that many different values. First I will just let it be,
and then i'll try to condense the information.

In [48]:
weather.Station.unique()

array([1, 2])

There exists two different stations that collects data. one way to to aggregate their data is to take their average. I'll start by letting station 1 represent all.

In [56]:
weather = weather[weather.Station == 1]

from sklearn import preprocessing
lbl = preprocessing.LabelEncoder()
lbl.fit(weather.CodeSum)

LabelEncoder()

In [54]:
#pd.merge(X_train_df, weather, on=['Date'], how='inner')

In [31]:
#shuffle the data set so I can split it up to train and cv
X_train_df = X_train_df.sample(frac=1)

Y_train_df = X_train_df[['NumMosquitos']]
X_train_df = X_train_df[['Date', 'Species', 'Trap', 'Latitude', 'Longitude' ] ]

In [33]:


data_length = len(X_train_df)
train_length = round(data_length * 0.8)

X_cv_df = X_train_df[train_length:]
Y_cv_df = Y_train_df[train_length:]

X_train_df = X_train_df[0:train_length]
Y_train_df = Y_train_df[0:train_length]